<div class="container-fluid mt-4" *ngIf="user; else loading">

  <div class="text-dark container user-form">

    <div class="text-center mb-3">
      <h2 class="mb-2">Actualizar Usuario</h2>
    </div>

    <form #updateForm="ngForm" (ngSubmit)="updateUser(updateForm)">

      <div class="form-group">
        <label class="col-12">
          Nombre
          <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel"
                 [(ngModel)]="user.name" required
                 [class.error-input]="!name.valid && name.touched">
          <p class="error-message" *ngIf="!name.valid && name.touched">
            Introduce el nombre correctamente.
          </p>
        </label>
      </div>

      <div class="form-group">
        <label class="col-12">
          Apellidos
          <input type="text" class="form-control" name="surname" placeholder="Apellidos" #surname="ngModel"
                 [(ngModel)]="user.surname" required
                 [class.error-input]="!surname.valid && surname.touched">
          <p class="error-message" *ngIf="!surname.valid && surname.touched">
            Introduce los apellidos correctamente.
          </p>
        </label>
      </div>

      <div class="form-group">
        <label class="col-12">
          Email
          <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel"
                 [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                 [class.error-input]="!email.valid && email.touched"
          >
          <p class="error-message" *ngIf="!email.valid && email.touched">
            Introduce un email válido.
          </p>
        </label>
      </div>

      <div class="col-12">
        <button class="button mr-md-2"
                [class.button-success]="updateForm.valid"
                [disabled]="!updateForm.valid">Actualizar datos</button>
      </div>
    </form>

    <app-user-edit-password [user]="user">
    </app-user-edit-password>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
