.dog-image img{
  width: 100%;
  height: 10em;
  margin: 0 auto;
  display: block;
}

.dog-info {
  margin-top: 0.3em;
  padding: 1em;

  p {
    font-size: 0.9em;
  }

}

.button-white {
  display: block;
}
