@import "src/app/app.component";

.mainDog {

  background-color: $primary--color !important;
  width: 14em !important;
  height: 20em !important;
  z-index: 0;
  transition: 1s;
  margin: 1em 0.5em;

  img {
    width: 100% !important;
    height: 10em !important;
  }

  &:hover{
    transform: scale(1.2);
    z-index: 1;
    border: 1px solid black;
  }

}

.dogSection {
  width: 75%;
  margin: 1em auto;
}

.button-white {
  display: block;
}
