@import "src/app/app.component";

.dog-image img{
  width: 100%;
  height: 8em;
  margin: 0 auto;
  display: block;
}

.dog-info {
  margin-top: 0.3em;
  padding: 1em;
}

.button-white {
  display: block;
}
