@import "../../../variables";

.dogInfo{
  background-color: $primary--color;
  text-align: center;
  padding: 1em 0.2em;
  border: 1px solid black;
  border-radius: 0.2em;
  max-height: 70em;

  img {
    max-width: 100%;
    margin: 1em auto;
    padding: 0;
    display: block;
    border-radius: 0.5em;
  }

  & > .dogData {
    width: 75%;
    margin: 1em auto;
    padding: 0.7em 0.5em;
    border-radius: 0.3em;
    font-size: 1.2em;
  }

}
