<div class="row justify-content-center">
  <div class="col-12">
    <button class="button button-success" (click)="togglePlay(true)">Reproducir datos</button>
    <button class="button button-danger ml-0 ml-sm-1" (click)="togglePlay(false)">Pausar datos</button>

    <button class="button ml-0 ml-sm-1"
            [class.button-success]="showAnglesGraphs && showLamelessGraphs"
            (click)="showGraphs(true, true)"
            *ngIf="sensorsLameness.length == 2 && sensorsAngles.length == 2"
    >Mostrar ambas gráficas</button>

    <button class="button ml-0 ml-sm-1"
            [class.button-success]="showLamelessGraphs"
            (click)="showGraphs(true, false)"
            *ngIf="sensorsLameness.length == 2"
    >Gráfica cojera</button>

    <button class="button ml-0 ml-sm-1"
            [class.button-success]="showAnglesGraphs"
            (click)="showGraphs(false, true)"
            *ngIf="sensorsAngles.length == 2"
    >
      Gráfica características angulares</button>


  </div>

  <div>
    <div *ngIf="videos.length > 0; else novideo">
      <app-toma-videos class="col-12"
                       [tomaId]="toma.id"
                       [videos]="videos">
      </app-toma-videos>
    </div>

    <ng-template #novideo>
      <app-error [message]="'La toma no cuenta con videos'"></app-error>
    </ng-template>
  </div>

  <div *ngIf="sensorsAngles.length == 2 || sensorsLameness.length == 2; else nosensor">
    <h3>Gráficas</h3>
  </div>


  <ng-template #nosensor>
    <app-error [message]="'La toma no cuenta con datos de los sensores'"></app-error>
  </ng-template>

  <app-toma-sensors class="col-12 col-md-6 col-lg-12" *ngIf="showLamelessGraphs && sensorsLameness.length == 2"
                    [tomaId]="toma.id"
                    [sensors]="sensorsLameness"
                    [observable]="play.asObservable()">
  </app-toma-sensors>

  <app-toma-angles class="col-12 col-md-6 col-lg-12" *ngIf="showAnglesGraphs && sensorsAngles.length == 2"
                   [tomaId]="toma.id"
                   [sensors]="sensorsAngles"
                   [observable]="play.asObservable()">
  </app-toma-angles>

</div>
