<div class="container-fluid mt-3" *ngIf="toma; else loading">
  <h2>{{toma.name}}</h2>
  <button class="button button-success mb-2"
          [routerLink]="['/tomas','toma','edit',toma.id]">
    Editar Toma
  </button>

  <button class="button button-danger ml-1 mb-2"
          [routerLink]="['/sessions', toma.session_id]">
    Volver a la sesión
  </button>
  <app-toma-data [toma]="toma"></app-toma-data>
  <app-toma-observation [toma]="toma"></app-toma-observation>
  <app-conclusion-box [conclusion]="toma.conclusion_ia"></app-conclusion-box>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
