<app-filter
  (filterEmitter)="searchDogs($event)"
  (filterSortEmitter)="sortDogs($event)"
> </app-filter>

<section class="container-fluid">

  <button class="button button-success mt-3" routerLink="/caninos/crear">Añadir canino</button>

  <div class="alert alert-danger mt-5" *ngIf="!isSearching && dogs.length < 1">
    No se han encontrado resultados
  </div>

  <div *ngIf="!isSearching && dogs.length > 0">

    <div class="dogs d-flex" >
      <app-dog-box class="dog-card" *ngFor="let dog of dogs" [dog]="dog">
      </app-dog-box>
    </div>

    <app-page-selection [pageSize]="limit" [itemsObservable]="dogsObservable" (currentPageEmitter)="sliceDogs($event)" ></app-page-selection>
  </div>

  <button class="button button-success mt-3" routerLink="/caninos/crear">Añadir canino</button>

</section>
