@import "src/app/variables";

.dogs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dog-card {
  margin: 2%;
  flex: 0 1 16%;
  color: white;
  background-color: $primary--color;
  transition: transform 1s;
  height: 18em;
  border-radius: 5px;

  &:hover{
    transform: scale(1.1);
    z-index: 1;
    border: 1px solid black;
  }

}

@media (min-width: 1700px ) {

  .dog-card {
    flex: 0 1 9%;
    margin: 1%;
  }

}


@media (max-width: 1366px ) {

  .dog-card {
    flex: 0 1 21%;
    margin: 2%;
  }

}

@media (max-width: 768px ) {

  .dog-card {
    flex: 0 1 29%;
    margin: 2%;
  }

}

@media (max-width: 576px ) {

  .dog-card {
    flex: 0 1 45%;
    margin: 2%;

    &:hover{
      transform: none;
    }
  }

}

@media (max-width: 350px ) {

  .dog-card {
    flex: 0 1 95%;
    margin: 2%;
    border-radius: 0;

    &:hover{
      transform: none;
    }
  }

}
