<div class="container-fluid mt-4">

  <div class="text-dark container user-form">

    <div class="text-center mb-3">
      <h2 class="mb-2">Registrarse</h2>
      <small>Completa el siguiente formulario para acceder al portal</small>
    </div>

    <p *ngIf="showMessage" [ngClass]="{'error-message': !formStatus, 'success-message': formStatus}">
      {{formMessage}}
    </p>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel"
               [(ngModel)]="user.name" required pattern="[A-zÀ-ú]+"
               [class.error-input]="!name.valid && name.touched">
        <p class="error-message" *ngIf="!name.valid && name.touched">
          Introduce el nombre correctamente.
        </p>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="surname" placeholder="Apellidos" #surname="ngModel"
               [(ngModel)]="user.surname" required pattern="[A-zÀ-ú]+"
               [class.error-input]="!surname.valid && surname.touched">
        <p class="error-message" *ngIf="!surname.valid && surname.touched">
          Introduce los apellidos correctamente.
        </p>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel"
               [(ngModel)]="user.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               [class.error-input]="!email.valid && email.touched"
        >
        <p class="error-message" *ngIf="!email.valid && email.touched">
          Introduce un email válido.
        </p>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Contraseña" #password="ngModel"
               [(ngModel)]="user.password" required minlength="6"
               [class.error-input]="!password.valid && password.touched">
        <small id="passwordHelp" class="form-text text-muted">Utiliza mínimo 6 caracteres.</small>
        <p class="error-message" *ngIf="(!password.valid && password.touched)">
          Introduce una contraseña
        </p>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar contraseña" #confirmpassword="ngModel"
               [(ngModel)]="confirm_password" required
               [class.error-input]="confirmpassword.touched && password.value != confirmpassword.value"
        >
        <p class="error-message" *ngIf="confirmpassword.touched && password.value != confirmpassword.value">
          Las contraseñas debe coincidir
        </p>
      </div>

      <button class="button mr-md-2" [class.button-success]="registerForm.valid" [disabled]="!registerForm.valid">Registrarse</button>
      <button class="button button-danger">Cancelar</button>

    </form>

  </div>

</div>
