.user-form {
  padding: 1.3em;
  border: 1px solid black;
}

@media (min-width: 678px) {
  .user-form {
    -webkit-box-shadow: 15px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 4px 5px 0px rgba(0,0,0,0.75);
  }

}
