@import "../../variables";

.dogSession {
  background-color: $primary--color;
  color: white;
  width: 100%;
  padding: 1em 1.3em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  transition: 0.5s;

  &:hover {
    transform: scale(1);
    width: 85%;
    margin: 1.3em;
    box-shadow: 24px 4px 5px 0 rgba(0,0,0,0.75);
  }

  & > small {
    font-size: 1em;
  }

}



.button {
  display: block;
}
