@import "./variables";

.navbar {
  background-color: $primary--color !important;

  a {
    color: white !important;
    text-align: center;

  }
}

@media (max-width: 768px) {
    .nav-link {
      padding: 0.3em;

      &:hover {
        transition: background-color 1s;
        background-color: darken($primary--color, 50);
      }

    }
}

.footer {
  background-color: #4C4B80 !important;
  color: white;
  padding: 1em 0;
  border-top: 2px solid black;
}
