<div class="col-12 my-2 text-dark"
     [ngClass]="{'success-message': status, 'error-message': !status }"
     *ngIf="message"
>
  {{message}}
</div>

<div class="col-12 mt-2">
  <label class="custom-file col-12 bg-main mr-2">
    <input type="file" class="d-none" accept="text/txt" (change)="checkSensor($event.target,0)">
    <p class="py-2">Subir Sensor delantero<i class="fas fa-file-excel ml-1"></i></p>
  </label>

  <div *ngIf="toma.sensor_data_front">
    <app-toma-file-description [fileName]="toma.sensor_data_front"></app-toma-file-description>
  </div>

  <div *ngIf="frontSensorFile">
    <app-toma-file-description
      [fileName]="frontSensorFile.name"
      [message]="'Archivo a subir: '"
    ></app-toma-file-description>
  </div>
</div>

<div class="col-12 mt-2">
  <label class="custom-file col-12 bg-main">
    <input type="file" class="d-none" accept="text/txt" (change)="checkSensor($event.target, 1)">
    <p class="py-2"> Subir Sensor trasero <i class="far fa-file-excel ml-1"></i></p>
  </label>
  <div *ngIf="toma.sensor_data_back">
    <app-toma-file-description [fileName]="toma.sensor_data_back"></app-toma-file-description>
  </div>

  <div *ngIf="backSensorFile">
    <app-toma-file-description
      [fileName]="backSensorFile.name"
      [message]="'Archivo a subir: '"
    ></app-toma-file-description>
  </div>
</div>

<div class="col-12 mt-2">
  <label class="custom-file col-12 bg-main">
    <input type="file" class="d-none" accept="text/txt" (change)="checkSensor($event.target,2)">
    <p class="py-2"> Subir Sensor superior de la pierna <i class="fas fa-file-excel ml-1"></i></p>
  </label>
  <div *ngIf="toma.sensor_data_foot_upper">
    <app-toma-file-description [fileName]="toma.sensor_data_foot_upper"></app-toma-file-description>
  </div>

  <div *ngIf="upperFootSensorFile">
    <app-toma-file-description
      [fileName]="upperFootSensorFile.name"
      [message]="'Archivo a subir: '"
    ></app-toma-file-description>
  </div>
</div>

<div class="col-12 mt-2">
  <label class="custom-file col-12 bg-main">
    <input type="file" class="d-none" accept="text/txt" (change)="checkSensor($event.target,3)">
    <p class="py-2"> Subir Sensor inferior de la pierna <i class="far fa-file-excel ml-1"></i></p>
  </label>
  <div *ngIf="toma.sensor_data_foot_lower">
    <app-toma-file-description [fileName]="toma.sensor_data_foot_lower"></app-toma-file-description>
  </div>

  <div *ngIf="lowerFootSensorFile">
    <app-toma-file-description
      [fileName]="lowerFootSensorFile.name"
      [message]="'Archivo a subir: '"
    ></app-toma-file-description>
  </div>
</div>

<div class="col-12 mt-2">
  <button class="button button-success"
          (click)="uploadFile()"
          type="button">Subir archivos sensores</button>
</div>
