<section class="container-fluid my-md-3 " *ngIf="dog">
  <div class="row justify-content-around">

    <article class="col-12 col-md-4 mr-md-2 dogInfo my-2">

      <div class="container-fluid">
        <img src="{{getDogImage()}}" alt="">
      </div>

      <h1 class="text-white mt-2">{{dog.name}}</h1>
      <div class="text-left bg-white dogData">
        <p>Raza: {{dog.bread}} </p>
        <p>Nacimiento: {{dog.birth | date: 'dd/MM/yyyy'}}</p>
        <p>Género: {{dog.gender}}</p>
        <p>Peso: {{dog.weight}} kg</p>
        <p>Altura: {{dog.height}} cm</p>

        <div class="d-flex justify-content-around">
          <button class="button button-success mr-2 ">Editar</button>
          <button
            [swal]="swal"
            (confirm)="deleteDog()"
            class="button button-danger">Eliminar
          </button>
        </div>

      </div>
    </article>

    <div class="col-12 col-md-7 mt-sm-4">
      <h1>Sesiones</h1>

      <div *ngIf="sessions.length > 0; else notfound">
        <app-filter
          (filterEmitter)="searchSession($event)"
          (filterSortEmitter)="sortSessions($event)"></app-filter>

        <button
          class="button button-primary mt-2 d-block"
          [swal]="swalCreateSession"
          (confirm)="createSession($event)"
        >Añadir sesión</button>

        <app-data-box [routerTarget]="'/session'" [input]="session"
                      *ngFor="let session of sessions"></app-data-box>

        <app-page-selection [pageSize]="limit"
                            [itemsObservable]="sessionObservable"
                            (currentPageEmitter)="sliceSessions($event)">
        </app-page-selection>

        <button
          class="button button-primary mt-2 d-block"
          [swal]="swalCreateSession"
          (confirm)="createSession($event)"
        >Añadir sesión</button>

      </div>

      <ng-template #notfound>
        <button
          class="button button-primary my-2 d-block"
          [swal]="swalCreateSession"
          (confirm)="createSession($event)"
        >Añadir sesión</button>
        <app-error [message]="'Este canino no cuenta con ninguna sesión.'"
        ></app-error>
      </ng-template>


    </div>
  </div>
</section>
