
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$caninosfront-primary: mat-palette($mat-indigo);
$caninosfront-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$caninosfront-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$caninosfront-theme: mat-light-theme($caninosfront-primary, $caninosfront-accent, $caninosfront-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($caninosfront-theme);

/* You can add global styles to this file, and also import other style files */
@import "app/variables";

.page-wrapper {
  min-height: 95vh;
}

.border-radius-1 {
  border-radius: 0.5em;
}

.observation, .bg-main {
  background-color: $primary--color;
  border-radius: 5px;
}

.custom-file {
  cursor: pointer;
  font-size: 1em;
}

@mixin message-bg($bg) {
  margin-top: 0.5em;
  color: white;
  padding: 0.8em;
  background-color: $bg;
  font-size: 0.9em;
}

.success-message {
  @include message-bg($success--color);
}

.error-message {
  @include message-bg($danger--color);
}

.error-input {
  border: 1px solid $danger--color !important;
  box-shadow: none;

  &:focus {
    box-shadow: none !important;
  }
}

.desactivate {
  display: none !important;
}

/* ***************************************************************************
   ***************************************************************************
   **********************       Buttons            ***************************
   ***************************************************************************
   ***************************************************************************
 */
@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    -webkit-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.30);
    box-shadow: 5px 3px 0px 0px rgba(0,0,0,0.30);
    background:darken($bg,8%);
    transition: all 0.3s ease;
    border: 1px solid black;
    cursor: pointer;
  }

  &:active {
    background:darken($bg,25%);
  }
}

.button {
  padding: 0.7em;
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 1em;
}

.button-success {
  @include button-bg($success--color);
}

.button-danger {
  @include button-bg($danger--color);
}

.button-white {
  @include button-bg(#fff);
  color: black;
}

.button-primary {
  @include button-bg($primary--color);
}


/* ***************************************************************************
   ***************************************************************************
   **********************       Buttons            ***************************
   ***************************************************************************
   ***************************************************************************
 */

@media(max-width: 768px) {
  .button {
    width: 100%;
    margin-bottom: 0.3em;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
